MyStateMachine-7duorqcdt.asl.json
{"Comment":"image classification machine learning workflow: preprocess images for data ingestion by model  -> classify the data give inference probability -> filter good predictions.","StartAt":"serialize","States":{"serialize":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:963854469832:function:serialiseImageData:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"classify","Comment":"turn images to JSON compatible text format base64 "},"classify":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:963854469832:function:ClassifyWithEndpoint:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"threshold","Comment":"Uses Endpoint to make classification"},"threshold":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:963854469832:function:FilterResultsFromSagemakerByThreshold:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"End":true,"Comment":"only allows predictions with probabilty greater than 93 % to proceed"}}}